[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pickle-mixin = "*"
scikit-learn = "==1.0.2"
requests = "*"
flask = "*"
gunicorn = "*"
seaborn = "*"
xgboost = "*"
catboost = "*"
ipykernel = "*"
tqdm = "*"
bentoml = "*"

[dev-packages]

[requires]
python_version = "3.9"
